name: publish-modrinth

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-20.04
    container:
      image: eclipse-temurin:17-jdk
      options: --user root
    steps:
      - run: apt update && apt install git -y && git --version
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew build modrinth --stacktrace
        env:
          CHANGELOG: ${{ github.event.release.body }}
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}